body {
    font-family: "Raleway", sans-serif;
}

.wrapper {
    max-width: 1270px;
    margin: 0 auto;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.5;
}

h3 {
    font-size: 32px;
    font-weight: 600;
}

h4 {
    margin-top: 45px;
    font-size: 26px;
    font-weight: 700;
}

h5 {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

    /* navbar */

.navbar-aside__outer {
    background-color: #000;
}

.navbar-aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.phone {
    font-size: 20px;
    color: #fff;
}

.phone > i {
    margin-right: 10px;
    color: #ffd613;
    transform: scale(-1, 1);
}

.phone-link {
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
.phone-link:hover {
    color: #ffd613;
    transition: 0.25s ease-in-out;
}

.search {
    width: 45%;
}

.search-line {
    padding-left: 15px;
    width: 100%;
    height: 30px;
    font-size: 15px;
    color: #fff;
    background-color: rgba(150, 150, 150, .3);
    outline: none;
    border: 1.5px solid transparent;
    border-radius: 20px;
}
.search-line:focus {
    border: 1.5px solid #ffd613;
    transition: 0.25s ease-in-out;
}

/*.search-line::-webkit-input-placeholder {
    color:#fff;
}
.search-line::-moz-placeholder {
    color:#fff;
}
.search-line:-moz-placeholder {
    color:#fff;
}
.search-line:-ms-input-placeholder {
    color:#fff;
}*/

    /* fixed navbar */
.navbar-main__outer.fixed {
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 999;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 9px 21px 0 rgba(30, 30, 30, 0.23);
    border-bottom: 1px solid #fff;
}

.navbar-main__outer.fixed .navbar-main {
    padding: 20px 0;
}

.navbar-main__outer.fixed .logo {
    height: 40px;
}

.navbar-main__outer.fixed .navbar-menu__link {
    font-size: 19px;
}

.fix {
    -webkit-animation-name: fix;
    -webkit-animation-duration: 1.0s;
    animation-name: fix;
    animation-duration: 1.0s;
}

@keyframes fix {
    from { transform: scale(1.1, 1.1); }
    to { transform: scale(1, 1); }
}

@-webkit-keyframes fix {
     from { transform: scale(1.1, 1.1); }
     to { transform: scale(1, 1); }
}

.unfix {
    -webkit-animation-name: unfix;
    -webkit-animation-duration: .7s;
    animation-name: unfix;
    animation-duration: 0.7s;
}

@keyframes unfix {
    from { transform: scale(0.8, 0.8); }
    to { transform: scale(1, 1); }
}

@-webkit-keyframes unfix {
     from { transform: scale(0.8, 0.8); }
     to { transform: scale(1, 1); }
}

    /* static navbar */
.navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.logo {
    height: 60px;
}

.navbar-main__img {
    height: 100%;
}

.navbar-menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu__item {
    margin-left: 40px;
}
.navbar-menu__item:first-child {
    margin-left: 0;
}

.navbar-menu__link {
    position: relative;
    font-size: 21px;
    color: #777;
    font-weight: 600;
    text-decoration: none;
}
.navbar-menu__link:hover {
    color: #000;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.navbar-menu__link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    display: block;
    width: 0;
    height: 4.5px;
    background-color: #ffd613;
    transition: 0.25s ease-in-out;
}
.navbar-menu__link:hover::after  {
    width: 100%;
}

    /* buttons */

.btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
}

.btn-sign {
    margin-right: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    background-color: #333;
}
.btn-sign:hover {
    color: #000;
    background-color: #ffd613;
    transition: 0.25s ease-in-out;
}

.btn-reg {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    background-color: #ffd613;
}
.btn-reg:hover {
    color: #fff;
    background-color: #333;
    transition: 0.25s ease-in-out;
}

.slider-btn {
    margin: 50px 0 0 180px;
    padding: 25px 45px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
}
.slider-btn:hover {
    background-color: #555;
    transition: 0.25s ease-in-out;
}

.post-submit {
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    padding: 15px 10px;
    color: #000;
    background-color: #ffd613;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
}
.post-submit:hover {
    color: #ffd613;
    background-color: #000;
    transition: 0.25s ease-in-out;
}

.post-buy {
    display: inline-block;
    margin-top: 15px;
    padding: 15px 10px;
    box-sizing: border-box;
    color: #ffd613;
    background-color: #000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
}
.post-buy:hover {
    color: #000;
    background-color: #ffd613;
    transition: 0.25s ease-in-out;
}

    /* main */

.slider {
    position: relative;
    padding: 115px 0;
    height: 300px;
    background:  url("../img/contentbg.jpg") no-repeat center;
    background-size: cover;
    background-position-x: 80%;
}

.slider-content {
    margin-left: 100px;
    max-width: 690px;
}

.slider-content h1 {
    position: relative;
}

h1 > span {
    display: block;
    font-weight: bold;
}

.slider-content__img {
    position: absolute;
    right: 25px; top: 75%;
}

.slider-btn > i {
    padding-left: 15px;
    font-size: 20px;
    color: #ffd613;
}





.finished {
    padding: 100px 0;
}

h2 > span {
    color: #777;
    font-weight: 300;
}

.finished-posts {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.finished-post {
    position: relative;
    max-width: 25%;
    padding: 0 15px;
    overflow: hidden;
}

.finished-post:first-child {
    padding-left: 0;
}

.finished-post:last-child {
    padding-right: 0;
}

.final-price {
    position: absolute;
    top: 16px; right: 0;
    padding-top: 40px;
    width: 145px;
    height: 145px;
    background: url(../img/badge.png) no-repeat;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.fprice {
    margin-left: 10px;
    font-size: 42px;
    line-height: 1;
}

.fprice::before {
    content: "$";
    margin-left: -15px;
    vertical-align: top;
    font-size: 24px;
}

.finished-product_link {
    color: #191919;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
}
.finished-product_link:hover {
    color: #ffd613;
    transition: 0.25s ease-in-out;
}





.current {
    position: relative;
    padding: 100px 0;
}

.current > .wrapper::before {
    content: '';
    position: absolute;
    display: block;
    top: 0; left: 0; right: 0;
    height: 40px;
    background: linear-gradient(#dadada, rgba(218, 218, 218, 0));
    opacity: .5;
}

.current-posts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
}

.current-post {
    display: none;
    width: 25%;
    margin-bottom: 40px;
    padding: 0 25px;
    overflow: hidden;
    box-sizing: border-box;
}

.post-countdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 135px;
    background-color: #e4e4e4;
    border-radius: 5px;
}

.post-countdown::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 9px 0 9px;
    border-color: #e4e4e4 transparent transparent transparent;
    right: 6px;
    bottom: -23px;
    transform: rotate(-41deg);
}

.countdown-amount {
    padding: 5px 13px;
    color: rgba(0, 0, 0, 0.55);
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    line-height: 1.2;
}

.post-img {
    max-width: 270px;
    max-height: 220px;
}

.post-price {
    margin-top: 10px;
    color: #888;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.finish-price {
    margin-left: 50px;
}

.post-step {
    margin-top: 10px;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
}

.post-step::before {
    content: '$';
    font-size: 28px;
    vertical-align: top;
}

.post-name {
    display: block;
    margin-top: 6px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    text-decoration: none;
}
.post-name:hover {
    text-decoration: underline;
}

.pagination {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination-item {
    margin: 0 10px;
    padding: 15px;
    width: 20px;
    color: #000;
    background-color: #ffd613;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagination-item:hover {
    color: #fff;
    background-color: #ffd613;
    transition: 0.25s ease-in-out;
}

.pagination-item.active {
    color: #fff;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4 }
    to { opacity: 1 }
}

@-webkit-keyframes fade {
    from { opacity: 0.4 }
    to { opacity: 1 }
}





.works {
    position: relative;
    padding: 100px 0;
    background: #f2f2f2;
}

.works > .wrapper::before {
    content: '';
    position: absolute;
    display: block;
    top: 0; left: 0; right: 0;
    height: 40px;
    background: linear-gradient(#dadada, rgba(218, 218, 218, 0));
    opacity: .5;
}

.works-items {
    display: flex;
    flex-wrap: nowrap;
    align-items: top;
    justify-content: space-between;
    margin-top: 50px;
}

.work-item {
    position: relative;
    width: 25%;
    padding: 0 15px;
}

.work-item:first-child {
    padding-left: 0;
}

.work-item:last-child {
    padding-right: 0;
}

.work-item > i {
    position: absolute;
    top: 17%; right: 45px;
    display: block;
    color: #777;
    font-size: 50px;
}

.works-item_symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    font-size: 60px;
    background-color: #ffd613;
    border-radius: 50%;
}

.works-item_desc {
    margin-top: 18px;
    color: #888;
    font-size: 17px;
    line-height: 1.5;
}




.winners {
    padding: 100px 0;
    background: url(../img/winners.jpg) no-repeat center;
    background-size: cover;
}

.winners-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.winner {
    padding: 20px 7px;
    width: 300px;
    height: 300px;
}

.yourwin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 7px;
    width: 300px;
    height: 300px;
    background-color: #ffd613;
    border-radius: 25px;
}

.yourphoto {
    font-size: 30px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
}

.yourphoto > span {
    display: block;
    font-weight: bold;
}

.winner-photo {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}




.about {
    padding: 60px 0;
}

.about-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 30px;
}

.about-item {
    width: 50%;
}

.about-item:first-child {
    padding-right: 15px;
}

.about-item:last-child {
    padding-left: 15px;
}

.about-item_header {
    display: flex;
    align-items: center;
}

.about-header_symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #ffd613;
    font-size: 45px;
    border-radius: 50%;
}

.about-item_desc {
    margin-top: 15px;
    color: #888;
    font-size: 18px;
    line-height: 1.5;
}






.map {
    position: relative;
    padding: 100px 0;
}

.map > .wrapper::before {
    content: '';
    position: absolute;
    display: block;
    top: 0; left: 0; right: 0;
    height: 40px;
    background: linear-gradient(#dadada, rgba(218, 218, 218, 0));
    opacity: .5;
}

.contacts {
    display: flex;
    margin-top: 30px;
}

#map {
    width: 70%;
    height: 400px;
}

.contacts-info {
    margin-left: 50px;
    max-width: 25%;
}

.contacts-info_list {
    margin-top: 20px;
}

.contacts-info_item {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.email {
    font-family: "Montserrat", sans-serif;
    color: #777;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
.email:hover {
    color: #ffd613;
    transition: 0.25s ease-in-out;
}

.telephone {
    font-family: "Montserrat", sans-serif;
    color: #777;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
.telephone:hover {
    color: #ffd613;
    transition: 0.25s ease-in-out;
}

.address {
    font-family: "Montserrat", sans-serif;
    color: #777;
    font-size: 18px;
    font-weight: normal;
}





    /* footer */

.footer-panel {
    padding: 30px 0;
    background-color: #191919;
    border-top: 7px solid #ffd613;
}

.rights {
    color: #888;
    font-size: 16px;
}

.rights-link {
    color: #888;
    text-decoration: none;
}

.rights-link:hover {
    color: #ffd613;
    transition: 0.25s ease-in-out;
}




    /* toTop */

#toTop {
    position: fixed;
    right: 40px; bottom: 40px;
    z-index: 100;
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffd613;
    text-decoration: none;
    transition: 0.25s ease-in-out;
    transform: translate(0, 100px);
}
#toTop:hover {
    color: #ffd613;
    background-color: #000;
    transition: 0.25s ease-in-out;
}

#toTop.active {
    transition: 0.25s ease-in-out;
    transform: translate(0, 0);
}
