body {
    font-family: "Raleway", sans-serif;
}

.wrapper {
    max-width: 1270px;
    margin: 0 auto;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.5;
}

h3 {
    font-size: 32px;
    font-weight: 600;
}

h4 {
    margin-top: 45px;
    font-size: 26px;
    font-weight: 700;
}

h5 {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

    /* navbar */

.navbar-aside__outer {
    background-color: #000;
}

.navbar-aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.phone {
    font-size: 20px;
    color: #fff;
}

.phone > i {
    margin-right: 10px;
    color: #ffd613;
    transform: scale(-1, 1);
}

.phone-link {
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
.phone-link:hover {
    color: #ffd613;
    transition: 0.25s ease-in-out;
}

.search {
    width: 45%;
}

.search-line {
    padding-left: 15px;
    width: 100%;
    height: 30px;
    font-size: 15px;
    color: #fff;
    background-color: rgba(150, 150, 150, .3);
    outline: none;
    border: 1.5px solid transparent;
    border-radius: 20px;
}
.search-line:focus {
    border: 1.5px solid #ffd613;
    transition: 0.25s ease-in-out;
}

/*.search-line::-webkit-input-placeholder {
    color:#fff;
}
.search-line::-moz-placeholder {
    color:#fff;
}
.search-line:-moz-placeholder {
    color:#fff;
}
.search-line:-ms-input-placeholder {
    color:#fff;
}*/

.navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

.logo {
    height: 60px;
}

.navbar-main__img {
    height: 100%;
}

.navbar-menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu__item {
    margin-left: 40px;
}
.navbar-menu__item:first-child {
    margin-left: 0;
}

.navbar-menu__link {
    position: relative;
    font-size: 21px;
    color: #777;
    font-weight: 600;
    text-decoration: none;
}
.navbar-menu__link:hover {
    color: #000;
    transition: 0.25s ease-in-out;
}

.navbar-menu__link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    display: block;
    width: 0;
    height: 4.5px;
    background-color: #ffd613;
    transition: 0.25s ease-in-out;
}
.navbar-menu__link:hover::after  {
    width: 100%;
}

    /* buttons */

.btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
}

.btn-sign {
    margin-right: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    background-color: #333;
}
.btn-sign:hover {
    color: #000;
    background-color: #ffd613;
    transition: 0.25s ease-in-out;
}

.btn-reg {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    background-color: #ffd613;
}
.btn-reg:hover {
    color: #fff;
    background-color: #333;
    transition: 0.25s ease-in-out;
}

.slider-btn {
    margin: 50px 0 0 180px;
    padding: 25px 45px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
}
.slider-btn:hover {
    background-color: #555;
    transition: 0.25s ease-in-out;
}

    /* main */

.slider {
    position: relative;
    padding: 115px 0;
    height: 300px;
    background:  url("../img/contentbg.jpg") no-repeat center;
    background-size: cover;
    background-position-x: 80%;
}

.slider-content {
    margin-left: 100px;
    max-width: 690px;
}

.slider-content h1 {
    position: relative;
}

h1 > span {
    display: block;
    font-weight: bold;
}

.slider-content__img {
    position: absolute;
    right: 25px; top: 75%;
}

.slider-btn > i {
    padding-left: 15px;
    font-size: 20px;
    color: #ffd613;
}





.finished {
    padding: 100px 0;
}

h2 > span {
    color: #777;
    font-weight: 300;
}

.finished-posts {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.finished-post {
    position: relative;
    max-width: 25%;
    padding: 0 15px;
    overflow: hidden;
}

.finished-post:first-child {
    padding-left: 0;
}

.finished-post:last-child {
    padding-right: 0;
}

.final-price {
    position: absolute;
    top: 16px; right: 0;
    padding-top: 40px;
    width: 145px;
    height: 145px;
    background: url(../img/badge.png) no-repeat;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.fprice {
    margin-left: 10px;
    font-size: 42px;
    line-height: 1;
}

.fprice::before {
    content: "$";
    margin-left: -15px;
    vertical-align: top;
    font-size: 24px;
}

.finished-product_link {
    color: #191919;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
}
.finished-product_link:hover {
    color: #ffd613;
    transition: 0.25s ease-in-out;
}





.current {
    position: relative;
    padding: 100px 0;
}

.current > .wrapper::before {
    content: '';
    position: absolute;
    display: block;
    top: 0; left: 0; right: 0;
    height: 40px;
    background: linear-gradient(#dadada, rgba(218, 218, 218, 0));
    opacity: .5;
}





.works {
    position: relative;
    padding: 100px 0;
    background: #f2f2f2;
}

.works > .wrapper::before {
    content: '';
    position: absolute;
    display: block;
    top: 0; left: 0; right: 0;
    height: 40px;
    background: linear-gradient(#dadada, rgba(218, 218, 218, 0));
    opacity: .5;
}

.works-items {
    display: flex;
    flex-wrap: nowrap;
    align-items: top;
    justify-content: space-between;
    margin-top: 50px;
}

.work-item {
    position: relative;
    width: 25%;
    padding: 0 15px;
}

.work-item:first-child {
    padding-left: 0;
}

.work-item:last-child {
    padding-right: 0;
}

.work-item > i {
    position: absolute;
    top: 17%; right: 30px;
    display: block;
    color: #777;
    font-size: 50px;
}

.works-item_symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 170px;
    font-size: 60px;
    background-color: #ffd613;
    border-radius: 50%;
}

.works-item_desc {
    margin-top: 18px;
    color: #888;
    font-size: 17px;
    line-height: 1.5;
}




.winners {
    padding: 100px 0;
    background: url(../img/winners.jpg) no-repeat center;
    background-size: cover;
}

.winners-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.winner {
    padding: 20px 7px;
    width: 300px;
    height: 300px;
}

.yourwin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 7px;
    width: 300px;
    height: 300px;
    background-color: #ffd613;
    border-radius: 25px;
}

.yourphoto {
    font-size: 30px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
}

.yourphoto > span {
    display: block;
    font-weight: bold;
}

.winner-photo {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}




.about {
    padding: 100px 0;
}

.about-items {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 30px;
}

.about-item {
    width: 50%;
}

.about-item:first-child {
    padding-right: 15px;
}

.about-item:last-child {
    padding-left: 15px;
}

.about-item_header {
    display: flex;
    align-items: center;
}

.about-header_symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #ffd613;
    font-size: 45px;
    border-radius: 50%;
}

.about-item_desc {
    margin-top: 15px;
    color: #888;
    font-size: 18px;
    line-height: 1.5;
}






.map {
    position: relative;
    padding: 100px 0;
}

.map > .wrapper::before {
    content: '';
    position: absolute;
    display: block;
    top: 0; left: 0; right: 0;
    height: 40px;
    background: linear-gradient(#dadada, rgba(218, 218, 218, 0));
    opacity: .5;
}

.contacts {
    display: flex;
    margin-top: 30px;
}

#map {
    width: 70%;
    height: 400px;
}

.contacts-info {
    margin-left: 50px;
    max-width: 25%;
}

.contacts-info_list {
    margin-top: 20px;
}

.contacts-info_item {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.email {
    font-family: "Montserrat", sans-serif;
    color: #777;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
.email:hover {
    color: #ffd613;
    transition: 0.25s ease-in-out;
}

.telephone {
    font-family: "Montserrat", sans-serif;
    color: #777;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
.telephone:hover {
    color: #ffd613;
    transition: 0.25s ease-in-out;
}

.address {
    font-family: "Montserrat", sans-serif;
    color: #777;
    font-size: 18px;
    font-weight: normal;
}





    /* footer */

.footer-panel {
    padding: 30px 0;
    background-color: #191919;
    border-top: 7px solid #ffd613;
}

.rights {
    color: #888;
    font-size: 16px;
}

.rights-link {
    color: #888;
    text-decoration: none;
}

.rights-link:hover {
    color: #ffd613;
    transition: 0.25s ease-in-out;
}




    /* toTop */

#toTop {
    position: fixed;
    right: 40px; bottom: 40px;
    z-index: 100;
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffd613;
    text-decoration: none;
    transition: 0.25s ease-in-out;
    transform: translate(0, 100px);
}
#toTop:hover {
    color: #ffd613;
    background-color: #000;
    transition: 0.25s ease-in-out;
}

#toTop.active {
    transition: 0.25s ease-in-out;
    transform: translate(0, 0);
}
