body {
    font-family: "Raleway", sans-serif;
}

.wrapper {
    max-width: 1270px;
    margin: 0 auto;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.5;
}

h3 {
    font-size: 32px;
    font-weight: 600;
}

h4 {
    margin-top: 45px;
    font-size: 26px;
    font-weight: 700;
}

h5 {
    margin-left: 40px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
}

    /* navbar */

.navbar-aside__outer {
    background-color: #000;
}

.navbar-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
}

.phone {
    font-size: 20px;
    color: #fff;
}

.phone > i {
    margin-right: 10px;
    color: #ffd613;
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
}

.phone-link {
    margin-left: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
.phone-link:hover {
    color: #ffd613;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.register {
    display: block;
}

.signed-user {
    display: none;
}

.signed-user_name {
    margin-right: 10px;
    color: #ffd613;
    font-size: 18px;
    font-weight: bold;
}

    /* fixed navbar */
.navbar-main__outer.fixed {
    position: fixed;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: 999;
    height: 80px;
    background-color: #fff;
    -webkit-box-shadow: 0 9px 21px 0 rgba(30, 30, 30, 0.23);
            box-shadow: 0 9px 21px 0 rgba(30, 30, 30, 0.23);
    border-bottom: 1px solid #fff;
}

.navbar-main__outer.fixed .navbar-main {
    padding: 20px 0;
}

.navbar-main__outer.fixed .logo {
    height: 40px;
}

.navbar-main__outer.fixed .navbar-menu__link {
    font-size: 19px;
}

.fix {
    -webkit-animation-name: fix;
    -webkit-animation-duration: 1.0s;
    animation-name: fix;
    animation-duration: 1.0s;
}

@keyframes fix {
    from { -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
    to { -webkit-transform: scale(1, 1); transform: scale(1, 1); }
}

@-webkit-keyframes fix {
     from { -webkit-transform: scale(1.1, 1.1); transform: scale(1.1, 1.1); }
     to { -webkit-transform: scale(1, 1); transform: scale(1, 1); }
}

.unfix {
    -webkit-animation-name: unfix;
    -webkit-animation-duration: .7s;
    animation-name: unfix;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
}

@keyframes unfix {
    from { -webkit-transform: scale(0.8, 0.8); transform: scale(0.8, 0.8); }
    to { -webkit-transform: scale(1, 1); transform: scale(1, 1); }
}

@-webkit-keyframes unfix {
     from { -webkit-transform: scale(0.8, 0.8); transform: scale(0.8, 0.8); }
     to { -webkit-transform: scale(1, 1); transform: scale(1, 1); }
}

    /* static navbar */
.navbar-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 0;
}

.logo {
    height: 60px;
}

.navbar-main__img {
    height: 100%;
}

.navbar-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.navbar-menu__item {
    position: relative;
    margin-left: 40px;
}
.navbar-menu__item:first-child {
    margin-left: 0;
}

.navbar-menu__link {
    position: relative;
    font-size: 21px;
    color: #777;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.navbar-menu__link:hover {
    color: #000;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    cursor: pointer;
}

.navbar-menu__link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    display: block;
    width: 0;
    height: 4.5px;
    background-color: #ffd613;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}
.navbar-menu__link:hover::after  {
    width: 100%;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .navbar-menu__link::after {
       -webkit-transition: none;
       transition: none;
   }
}

.buy-list {
    position: absolute;
    top: 130%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 99;
    width: 200px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
}

#toBuy:hover > .buy-list {
    opacity: 1;
    visibility: visible;
    transition: .5s;
}

.buy-item {
    display: block;
    width: 100%;
    padding: 10px 20px 10px 0;
    transition: .5s;
}
.buy-item:hover {
    color: #ffd613;
    padding-left: 10px;
    transition: .5s;
}

.buy-link {
    display: inline-block;
    margin-left: 10px;
    width: 90%;
    color: #888;
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    cursor: pointer;
}
.buy-link:hover {
    color: #ffd613;
    transition: .5s;
}

    /* buttons */

.btn {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    text-transform: capitalize;
}

.btn-sign {
    margin-right: 10px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    background-color: #333;
    cursor: pointer;
}
.btn-sign:hover {
    color: #000;
    background-color: #ffd613;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.btn-reg {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    background-color: #ffd613;
    cursor: pointer;
}
.btn-reg:hover {
    color: #fff;
    background-color: #333;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.btn-logout {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #000;
    background-color: #ffd613;
    cursor: pointer;
}
.btn-logout:hover {
    color: #fff;
    background-color: #333;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.slider-btn {
    margin: 50px 0 0 180px;
    padding: 25px 45px;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}
.slider-btn:hover {
    background-color: #555;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.post-submit {
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    padding: 15px 10px;
    color: #000;
    background-color: #ffd613;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.post-submit:hover {
    color: #ffd613;
    background-color: #000;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.post-buy {
    display: inline-block;
    margin-top: 15px;
    padding: 15px 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #ffd613;
    background-color: #000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.post-buy:hover {
    color: #000;
    background-color: #ffd613;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

    /* sell */

.sell {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.sell-modal {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 100px 50px 80px;
    background-color: #fff;
    border-radius: 25px;
    transform: translate(0, 100%);
    transition: .5s;
}
.sell-modal.centered {
    transform: translate(0, 0);
}

.sell-modal input {
    margin-bottom: 30px;
    padding: 10px;
    width: 80%;
    border: 2px solid #ffd613;
    box-sizing: border-box;
}

.sell-modal input:focus {
    outline: 4px solid #ffd613;
}

.sell-desc,
.register-desc,
.signin-desc,
.search-desc {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.sell-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.product-step {
    margin-bottom: 0;
}

.select-ctg {
    margin-bottom: 30px;
    padding: 10px;
    width: 80%;
    border: 2px solid #ffd613;
}

.select-ctg:focus {
    outline: 4px solid #ffd613;
}

.sell-btn {
    padding: 10px 0;
    width: 25%;
    background-color: #ffd613;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.sell-btn:hover {
    color: #ffd613;
    background-color: #000;
    transition: 0.25s ease-in-out;
}

.closesell-btn {
    position: absolute;
    right: 30px; top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    color: #000;
    background-color: #ffd613;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.closesell-btn:hover {
    color: #ffd613;
    background-color: #000;
    transition: 0.25s ease-in-out;
}

    /* search */

.search {
    width: 45%;
}

.search-line {
    padding-left: 15px;
    width: 100%;
    height: 30px;
    font-size: 15px;
    color: #fff;
    background-color: rgba(150, 150, 150, .3);
    outline: none;
    border: 1.5px solid transparent;
    border-radius: 20px;
}
.search-line:focus {
    border: 1.5px solid #ffd613;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.search-btn {
    display: none;
}

.search-output {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.search-modal {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 25px 50px 0;
    background-color: #fff;
    border-radius: 25px;
}

.search-post {
    display: flex;
    margin: 30px;
}

.photo-block {
    position: relative;
    width: 270px;
}

.search-countdown {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    background-color: #e4e4e4;
    border-radius: 5px;
}
.search-countdown::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 9px 0 9px;
    border-color: #e4e4e4 transparent transparent transparent;
    right: 6px;
    bottom: -23px;
    transform: rotate(-41deg);
}

.ctdamount-search {
    padding: 7px 13px;
    color: rgba(0, 0, 0, 0.55);
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    line-height: 1.2;
}

.search-img {
    width: 100%;
}

.search-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.search-finish {
    margin: 30px 0;
}

.buy-block {
    display: flex;
    flex-direction: column;
    justify-content: s
}

.search-name {
    display: block;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    text-decoration: none;
}

.search-description {
    margin-top: 20px;
    height: 50%;
}

    /* signin */

.signin {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.signin-modal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    padding: 100px 50px 80px;
    background-color: #fff;
    border-radius: 25px;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
    -webkit-transition: .5s;
    transition: .5s;
}
.signin-modal.centered {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
}

.centered {
    -webkit-animation-name: centered;
    -webkit-animation-duration: 0.5s;
    animation-name: centered;
    animation-duration: 0.5s;
}

@keyframes centered {
    from { -webkit-transform: translate(0, 100%); transform: translate(0, 100%); }
    to { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
}

@-webkit-keyframes centered {
    from { -webkit-transform: translate(0, 100%); transform: translate(0, 100%); }
    to { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
}

.signin-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

.loginin {
    display: block;
    margin-bottom: 25px;
    padding: 10px 15px;
    width: 70%;
    height: 35px;
    color: #888;
    background-color: #f5f5f5;
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    outline: none;
}

.passwordin {
    display: block;
    margin-bottom: 25px;
    padding: 10px 15px;
    width: 70%;
    height: 35px;
    color: #888;
    background-color: #f5f5f5;
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    outline: none;
}

.signin-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40%;
    height: 57px;
    color: #000;
    background-color: #ffd613;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.signin-btn:hover {
    color: #ffd613;
    background-color: #000;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.close-btn,
.closesearch-btn {
    position: absolute;
    right: 30px; top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 10px;
    color: #000;
    background-color: #ffd613;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.close-btn:hover,
.closesearch-btn:hover {
    color: #ffd613;
    background-color: #000;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.signin-error {
    display: none;
    margin-top: 20px;
    color: #f00;
    font-weight: bold;
}

.success {
    position: relative;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    padding: 100px 50px 80px;
    background-color: #fff;
    border-radius: 25px;
    -webkit-transition: .5s;
    transition: .5s;
}

.successful {
    font-size: 40px;
    font-weight: bold;
}

.successful > i {
    color: #0bb50b;
    font-size: 40px;
}

.welcome {
    margin-top: 20px;
    font-size: 56px;
}

.user {
    font-weight: bold;
}

.registerin {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.register-modal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    padding: 100px 50px 80px;
    background-color: #fff;
    border-radius: 25px;
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
    -webkit-transition: .5s;
    transition: .5s;
}
.register-modal.centered {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
}

.register-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

.loginreg {
    display: block;
    margin-bottom: 25px;
    padding: 10px 15px;
    width: 70%;
    height: 35px;
    color: #888;
    background-color: #f5f5f5;
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    outline: none;
}

.passwordreg {
    display: block;
    margin-bottom: 25px;
    padding: 10px 15px;
    width: 70%;
    height: 35px;
    color: #888;
    background-color: #f5f5f5;
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    outline: none;
}

.register-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40%;
    height: 57px;
    color: #000;
    background-color: #ffd613;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.register-btn:hover {
    color: #ffd613;
    background-color: #000;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.closereg-btn {
    position: absolute;
    right: 30px; top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px 10px;
    color: #000;
    background-color: #ffd613;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
.closereg-btn:hover {
    color: #ffd613;
    background-color: #000;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.successreg {
    position: relative;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
    padding: 50px;
    background-color: #fff;
    border-radius: 25px;
    -webkit-transition: .5s;
    transition: .5s;
}

.successfulreg {
    font-size: 50px;
    font-weight: bold;
}

.successfulreg > i {
    color: #0bb50b;
    font-size: 50px;
}

    /* main */

.slider-group {
    position: relative;
}

.prev {
    position: absolute;
    left: 0; top: 50%;
    width: 30px;
    height: 100px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    border: none;
    transform: translate(0, -50%);
    cursor: pointer;
    outline: none;
}
.prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: .25s ease-in-out;
}

.next {
    position: absolute;
    right: 0; top: 50%;
    width: 30px;
    height: 100px;
    color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    border: none;
    transform: translate(0, -50%);
    cursor: pointer;
    outline: none;
}
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: .25s ease-in-out;
}

.slider {
    display: block;
    position: relative;
    padding: 115px 0;
    height: 300px;
    background:  url("../img/contentbg.jpg") no-repeat center;
    background-size: cover;
    background-position-x: 80%;
}

.slider:nth-child(2) h1,
.slider:nth-child(3) h1 {
    text-align: center;
}
.slider:nth-child(2) .slider-btn,
.slider:nth-child(3) .slider-btn {
    margin: 50px 0 0 50%;
    transform: translate(-50%);
}

.dots {
    display: flex;
    position: absolute;
    bottom: 20px; left: 50%;
    transform: translate(-50%);
}

.dot {
    display: block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: .25s ease-in-out;
    cursor: pointer;
}

.dot.active, .dot:hover {
    background-color: rgba(0, 0, 0, 1);
}

.slider-content {
    margin-left: 100px;
    max-width: 690px;
}

.slider-content h1 {
    position: relative;
}

h1 > span {
    display: block;
    font-weight: bold;
}

.slider-content__img {
    position: absolute;
    right: 25px; top: 75%;
}

.slider-btn > i {
    padding-left: 15px;
    font-size: 20px;
    color: #ffd613;
}





.finished {
    padding: 100px 0;
}

h2 > span {
    color: #777;
    font-weight: 300;
}

.finished-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
}

.finished-post {
    position: relative;
    max-width: 25%;
    padding: 0 15px;
    overflow: hidden;
}

.finished-post:first-child {
    padding-left: 0;
}

.finished-post:last-child {
    padding-right: 0;
}

.final-price {
    position: absolute;
    top: 16px; right: 0;
    padding-top: 40px;
    width: 145px;
    height: 145px;
    background: url(../img/badge.png) no-repeat;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.fprice {
    margin-left: 10px;
    font-size: 42px;
    line-height: 1;
}

.fprice::before {
    content: "$";
    margin-left: -15px;
    vertical-align: top;
    font-size: 24px;
}

.finished-product_link {
    color: #191919;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;
    text-decoration: none;
}
.finished-product_link:hover {
    color: #ffd613;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}





.current {
    position: relative;
    padding: 70px 0;
}

.current > .wrapper::before {
    content: '';
    position: absolute;
    display: block;
    top: 0; left: 0; right: 0;
    height: 40px;
    background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(rgba(218, 218, 218, 0)));
    background: linear-gradient(#dadada, rgba(218, 218, 218, 0));
    opacity: .5;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    font-family: "Montserrat", sans-serif;
}

.sorting {
    position: relative;
    padding: 15px 100px;
    font-size: 20px;
    font-weight: 600;
    border-top: 2px solid #ffd613;
    border-bottom: 2px solid #ffd613;
    cursor: pointer;
}

.sorting-list {
    position: absolute;
    top: 100%; left: 50%;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    font-size: 17px;
    text-align: center;
    border: 2px solid #ffd613;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

.sorting-list.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, 50px);
}

.sorting-item {
    padding: 15px 0;
    border-bottom: 1px solid #ffd613;
}
.sorting-item:hover {
    background-color: #ffd613;
    transition: 0.25s ease-in-out;
}

.sorting-item:last-child {
    border-bottom: none;
}

.sorting-item.active {
    background-color: #ffd613;
}

.filter-price {
    position: relative;
    margin: 0 50px;
    padding: 15px 100px;
    font-size: 20px;
    font-weight: 600;
    border-top: 2px solid #ffd613;
    border-bottom: 2px solid #ffd613;
    cursor: pointer;
}

.price-inputs {
    position: absolute;
    top: 100%; left: 50%;
    z-index: 99;
    width: 200%;
    background-color: #fff;
    font-size: 17px;
    text-align: center;
    border: 2px solid #ffd613;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
    cursor: default;
}

.price-inputs.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, 50px);
}

.price-from {
    margin: 15px 0;
    padding: 10px 15px;
    width: 80%;
    border: 1px solid #000;
    box-sizing: border-box;
}
.price-from:focus {
    border: 1px solid #ffd613;
    outline: none;
}

.price-to {
    margin-bottom: 15px;
    padding: 10px 15px;
    width: 80%;
    border: 1px solid #000;
    box-sizing: border-box;
}
.price-to:focus {
    border: 1px solid #ffd613;
    outline: none;
}

.apply-btn {
    margin-bottom: 15px;
    padding: 5px 0;
    width: 80%;
    background-color: #ffd613;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.apply-btn:hover {
    color: #ffd613;
    background-color: #000;
    transition: 0.25s ease-in-out;
}

.clear-btn {
    margin-bottom: 15px;
    padding: 5px 0;
    width: 80%;
    background-color: #ffd613;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.clear-btn:hover {
    color: #ffd613;
    background-color: #000;
    transition: 0.25s ease-in-out;
}

.filter-category {
    position: relative;
    padding: 15px 100px;
    font-size: 20px;
    font-weight: 600;
    border-top: 2px solid #ffd613;
    border-bottom: 2px solid #ffd613;
    cursor: pointer;
}

.category-list {
    position: absolute;
    top: 100%; left: 50%;
    z-index: 99;
    width: 100%;
    background-color: #fff;
    font-size: 17px;
    text-align: center;
    border: 2px solid #ffd613;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0);
}

.category-list.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, 50px);
}

.category-item {
    padding: 15px 0;
    border-bottom: 1px solid #ffd613;
}
.category-item:hover {
    background-color: #ffd613;
    transition: 0.25s ease-in-out;
}

.category-item:last-child {
    border-bottom: none;
}

.category-item.active {
    background-color: #ffd613;
}

.current-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
}

.current-post {
    display: block;
    width: 25%;
    margin-bottom: 40px;
    padding: 0 25px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.post-countdown {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 135px;
    background-color: #e4e4e4;
    border-radius: 5px;
}

.post-countdown::after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 34px 9px 0 9px;
    border-color: #e4e4e4 transparent transparent transparent;
    right: 6px;
    bottom: -23px;
    -webkit-transform: rotate(-41deg);
            transform: rotate(-41deg);
}

.countdown-amount {
    padding: 5px 13px;
    color: rgba(0, 0, 0, 0.55);
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    line-height: 1.2;
}

.post-img {
    max-width: 270px;
    max-height: 220px;
}

.post-price {
    margin-top: 10px;
    color: #888;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.finish-price {
    margin-left: 50px;
}

.post-step {
    margin-top: 10px;
    color: #000;
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
}

.post-step::before {
    content: '$';
    font-size: 28px;
    vertical-align: top;
}

.prod-block {
    position: relative;
}

.post-name {
    display: block;
    margin-top: 6px;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
}
.post-name:hover {
    text-decoration: underline;
}

.post-desc {
    position: absolute;
    bottom: 50px;
    display: none;
    padding: 10px 5px;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border-radius: 10px;
}

.post-name:hover + .post-desc {
    display: block;
}

.post-desc:hover {
    display: block;
}

.pagination {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.pagination-item {
    margin: 0 10px;
    padding: 15px;
    width: 20px;
    color: #000;
    background-color: #ffd613;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagination-item:hover {
    color: #fff;
    background-color: #ffd613;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.pagination-item.active {
    color: #fff;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4 }
    to { opacity: 1 }
}

@-webkit-keyframes fade {
    from { opacity: 0.4 }
    to { opacity: 1 }
}





.works {
    position: relative;
    padding: 100px 0;
    background: #f2f2f2;
}

.works > .wrapper::before {
    content: '';
    position: absolute;
    display: block;
    top: 0; left: 0; right: 0;
    height: 40px;
    background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(rgba(218, 218, 218, 0)));
    background: linear-gradient(#dadada, rgba(218, 218, 218, 0));
    opacity: .5;
}

.works-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: top;
        -ms-flex-align: top;
            align-items: top;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
}

.work-item {
    position: relative;
    width: 25%;
    padding: 0 15px;
}

.work-item:first-child {
    padding-left: 0;
}

.work-item:last-child {
    padding-right: 0;
}

.work-item > i {
    position: absolute;
    top: 17%; right: 45px;
    display: block;
    color: #777;
    font-size: 50px;
}

.works-item_symbol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 170px;
    height: 170px;
    font-size: 60px;
    background-color: #ffd613;
    border-radius: 50%;
}

.works-item_desc {
    margin-top: 18px;
    color: #888;
    font-size: 17px;
    line-height: 1.5;
}




.winners {
    padding: 100px 0;
    background: url(../img/winners.jpg) no-repeat center;
    background-size: cover;
}

.winners-photos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
}

.winner {
    padding: 20px 7px;
    width: 300px;
    height: 300px;
}

.yourwin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 7px;
    width: 300px;
    height: 300px;
    background-color: #ffd613;
    border-radius: 25px;
}

.yourphoto {
    font-size: 30px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
}

.yourphoto > span {
    display: block;
    font-weight: bold;
}

.winner-photo {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}




.about {
    padding: 60px 0;
}

.about-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 30px;
}

.about-item {
    width: 50%;
}

.about-item:first-child {
    padding-right: 15px;
}

.about-item:last-child {
    padding-left: 15px;
}

.about-item_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.about-header_symbol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #ffd613;
    font-size: 45px;
    border-radius: 50%;
}

.about-item_desc {
    margin-top: 15px;
    color: #888;
    font-size: 18px;
    line-height: 1.5;
}






.map {
    position: relative;
    padding: 100px 0;
}

.map > .wrapper::before {
    content: '';
    position: absolute;
    display: block;
    top: 0; left: 0; right: 0;
    height: 40px;
    background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(rgba(218, 218, 218, 0)));
    background: linear-gradient(#dadada, rgba(218, 218, 218, 0));
    opacity: .5;
}

.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px;
}

#map {
    width: 70%;
    height: 400px;
}

.contacts-info {
    margin-left: 50px;
    max-width: 25%;
}

.contacts-info_list {
    margin-top: 20px;
}

.contacts-info_item {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}

.email {
    font-family: "Montserrat", sans-serif;
    color: #777;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
.email:hover {
    color: #ffd613;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.telephone {
    font-family: "Montserrat", sans-serif;
    color: #777;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
}
.telephone:hover {
    color: #ffd613;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.address {
    font-family: "Montserrat", sans-serif;
    color: #777;
    font-size: 18px;
    font-weight: normal;
}





    /* footer */

.footer-panel {
    padding: 30px 0;
    background-color: #191919;
    border-top: 7px solid #ffd613;
}

.rights {
    color: #888;
    font-size: 16px;
}

.rights-link {
    color: #888;
    text-decoration: none;
}

.rights-link:hover {
    color: #ffd613;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}




    /* toTop */

#toTop {
    position: fixed;
    right: 40px; bottom: 40px;
    z-index: 100;
    width: 50px;
    height: 50px;
    color: #000;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    background-color: #ffd613;
    text-decoration: none;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
}
#toTop:hover {
    color: #ffd613;
    background-color: #000;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#toTop.active {
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
}
